/* .contenidofor{
 height: auto;
 width: 90%;
 display: flex;
 flex-direction: row;
 background-color: black;
} */

.actu{
height: auto;
width: 80%;

border-radius: 1.5rem;
display: flex;
flex-direction: row;
justify-content: space-between;
border: 0.2rem solid #750a45 ;

}
.tituloActualizar{
  background:linear-gradient(20deg ,black 40% , grey,black  );
  border: 1.5px solid white;
  border-radius: 1rem;
}
.actualizarDatos{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
    color: white;
    gap: 0.5rem;
    
}
.labelActualizar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: white;
}
.inputActualizar {
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 0.1rem solid white;
}
.fileActualizar{
  width: 100%;
  height: 1.5rem;
  color: white ;
  

 
  
}


.buttomActualizar{
  width: 7rem;
  height: 1.5rem;
  margin: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background:linear-gradient(20deg, grey ,black 70% , grey);
  color: white;
 
}

.foto{
  height: 10rem;
  width: 12rem;
  right: 0;
  display: flex;
 justify-content: center;
 align-items: center;

  
}
.foto img{
  height: 80%;
  width: 70%;
  border-radius: 0.6rem 0.6rem 0.6rem;
  border: 0.2rem solid #750a45;
  box-shadow: 0.2rem 0.2rem 0.2rem #750a45;
  
}
