.publicarProductos{
    border: 0.2rem solid #750a45 ;
    width: 80%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    color: white;
    gap: 1rem;
    padding: 0.7rem;

}
.publicarProductos label{
    display: flex;
    justify-content: flex-start;
}
.publicarProductos input,textarea,select{
    width: 50%;
    height: auto;

    
}
.actualizarProducto{
    display: none;
}
