
:root{
    --letra: #b4b4b4;
    --logo:#10d078;
    --cars:#323a40;
  
  }
.publicarProductos{
    border: 0.2rem solid var(--logo);
    width: 80%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    color: white;
    gap: 1rem;
    padding: 0.7rem;

}
.publicarProductos label{
    display: flex;
    justify-content: flex-start;
}
.publicarProductos input,textarea,select{
    width: 50%;
    height: auto;
    background-color: transparent; 
    color: white;
}
.publicarProductos textarea{
    color: white;
    resize: none;
    height: 5rem;
}
.publicarProductos  select,option{
   
  background: var(--cars);
}
.actualizarProducto{
    display: none;
}

.publicarProductos .inputPublicar{
    border: 0;
    border-bottom: 1px solid white ;
}
/* .publicarProductos input[type="file"]{
  display: none;
} */
.publicarProductos .label{
 width: 7rem;
 height: 2rem;
 display: flex;
 align-items: center;
 border-radius: 1rem 1rem 1rem;
 justify-content: center;
 background: linear-gradient(20deg ,black 40% , grey,black );
 cursor: pointer;
 border: 2px solid  white;
    
  
}
.img{
display: none;


}


input[type="submit"]{
    width: 7rem;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 1rem 1rem 1rem;
    background: linear-gradient(20deg ,black 40% , grey,black );
}