
:root{
    --letra: #b4b4b4;
    --logo:#10d078;
    --cars:#323a40;
  
  }
.publicarProductos{
    border: 0.2rem solid var(--logo);
    width: 80%;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    color: white;
    gap: 1rem;
    padding: 0.7rem;

}
.publicarProductos label{
    display: flex;
    justify-content: flex-start;
}
.publicarProductos input,textarea,select{
    width: 50%;
    height: auto;
    background-color: transparent; 
    color: white;
}
.publicarProductos textarea{
    color: white;
    resize: none;
    height: 5rem;
}
.publicarProductos  select,option{
   
  background: var(--cars);
}
.actualizarProducto{
    display: none;
}

.publicarProductos .inputPublicar{
    border: 0;
    border-bottom: 1px solid white ;
}
